
*.exe
LockCent/obj/Debug/LockCent.pdb
LockCent/bin/Debug/LockCent.exe.config
LockCent/bin/Debug/LockCent.pdb
LockCent/bin/Debug/System.Diagnostics.DiagnosticSource.xml
LockCent/bin/Debug/LockCent.zip
LockCent/bin/Debug/DiscordRPC.xml
LockCent/bin/Debug/Google.Protobuf.xml
LockCent/bin/Debug/K4os.Compression.LZ4.Streams.xml
LockCent/bin/Debug/K4os.Compression.LZ4.xml
LockCent/bin/Debug/K4os.Hash.xxHash.xml
LockCent/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
LockCent/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
LockCent/bin/Debug/MySql.Data.xml
LockCent/bin/Debug/Newtonsoft.Json.xml
LockCent/bin/Debug/System.Buffers.xml
LockCent/bin/Debug/System.Collections.Immutable.xml
LockCent/bin/Debug/System.Interactive.Async.xml
LockCent/bin/Debug/System.Linq.Async.xml
LockCent/bin/Debug/System.Memory.xml
LockCent/bin/Debug/System.Numerics.Vectors.xml
LockCent/bin/Debug/System.Reactive.xml
LockCent/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
LockCent/bin/Debug/System.Threading.Tasks.Extensions.xml
LockCent/bin/Debug/System.ValueTuple.xml
